@font-face {
  font-family: 'Roboro Regular';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/font/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboro Medium';
  font-style: normal;
  font-weight: 500;
  src: url('../assets/font/Roboto-Medium.ttf');
}